NODE_ENV=development

DATABASE_URL=postgresql://<your-username>:<your-password>@localhost:6969/<postgresql-db-name>
TEST_DATABASE_URL=postgresql://<user>:<password>@localhost:6969/test_<postgresql-db-name>

# SECRET=""
# SEEDED_AUTHOR_PASSWORD="password-here"
# SEEDED_USER_PASSWORD="password-here"